@charset "UTF-8";
body {
  font-family: 'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;
  min-width: 960px;
  position: relative;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  /*早期浏览器*/
  user-select: none; }

.hidden {
  display: none !important; }

.block {
  display: block !important; }

/*
	顶部菜单
*/
.header {
  height: 58px;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd; }
  .header .header-main {
    min-width: 960px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative; }
    .header .header-main .logo {
      width: auto;
      position: absolute;
      left: 0;
      top: 0; }
      .header .header-main .logo .logo-title {
        display: block;
        background-color: #fff;
        width: auto;
        height: 58px;
        padding: 0 20px;
        color: #12c48b;
        font-weight: bold;
        font-size: 28px;
        line-height: 58px;
        text-align: center; }
    .header .header-main .header-center {
      width: 960px;
      height: 58px;
      margin: 0 auto; }
      .header .header-main .header-center .menu-list {
        width: auto;
        height: 58px;
        float: left;
        transition: margin-left  .35s; }
        .header .header-main .header-center .menu-list a {
          display: block;
          height: 58px;
          padding: 0 15px;
          text-align: center;
          transition: background-color .25s;
          line-height: 58px;
          float: left;
          cursor: pointer; }
          .header .header-main .header-center .menu-list a.active span,
          .header .header-main .header-center .menu-list a.active i {
            color: #12c48b; }
          .header .header-main .header-center .menu-list a:hover {
            background-color: #eee; }
          .header .header-main .header-center .menu-list a i {
            display: inline-block;
            margin-right: 5px;
            font-size: 20px;
            color: #333; }
          .header .header-main .header-center .menu-list a span {
            font-size: 16px;
            color: #333; }
      .header .header-main .header-center .search-main {
        width: auto;
        float: left;
        margin-left: 58px;
        height: 38px;
        margin: 10px 0 10px 58px;
        position: relative; }
        .header .header-main .header-center .search-main input {
          border: 0;
          outline: 0;
          line-height: 28px;
          height: 28px;
          display: block;
          padding: 5px 13px;
          width: 148px;
          background-color: #eee;
          font-size: 14px;
          color: #333;
          border-radius: 19px;
          transition: width .35s ease-in; }
          .header .header-main .header-center .search-main input:focus {
            width: 228px; }
        .header .header-main .header-center .search-main .search-btn {
          width: 30px;
          height: 30px;
          display: block;
          position: absolute;
          right: 4px;
          top: 4px;
          line-height: 30px;
          text-align: center;
          color: #666;
          border-radius: 100%;
          background-color: #dedede; }
    .header .header-main .user {
      padding: 0 30px;
      height: 58px;
      position: absolute;
      right: 0;
      top: 0; }
      .header .header-main .user.was-signed .user-photo {
        display: block; }
      .header .header-main .user.was-signed .sign {
        display: none; }
      .header .header-main .user .user-photo {
        display: none;
        width: 40px;
        height: 40px;
        overflow: hidden;
        float: left;
        border-radius: 100%;
        margin: 9px 0;
        position: relative; }
        .header .header-main .user .user-photo img {
          display: block;
          width: 40px;
          height: 40px; }
      .header .header-main .user .sign {
        float: left;
        background-color: #fff;
        margin-left: 0; }
        .header .header-main .user .sign .signin {
          font-size: 16px;
          color: #888; }
      .header .header-main .user .package {
        float: right; }
      .header .header-main .user .common-top-btn {
        display: inline-block;
        width: 98px;
        height: 36px;
        background-color: 1px solid #12c48b;
        line-height: 36px;
        text-align: center;
        margin: 9px 0 0 40px;
        border-radius: 4px;
        font-size: 15px;
        color: #fff;
        background-color: #12c48b;
        transition: background-color .25s; }
        .header .header-main .user .common-top-btn i {
          margin-right: 5px; }
        .header .header-main .user .common-top-btn:hover {
          background-color: #0cb17c; }

/*
	内容部分
*/
.main {
  width: 960px;
  margin: 0 auto;
  padding-top: 59px; }

.common-reply-box {
  margin-top: 15px;
  display: none; }
  .common-reply-box .list {
    height: auto; }
    .common-reply-box .list textarea {
      width: 100%;
      padding: 5px 15px;
      border: 1px solid #ccc;
      border-radius: 7px;
      box-sizing: border-box;
      display: block;
      height: 90px;
      font-size: 15px;
      color: #333;
      line-height: 24px;
      background-color: #f9f9f9;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
      .common-reply-box .list textarea:focus {
        border-color: rgba(18, 196, 139, 0.8);
        z-index: 9;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(18, 196, 139, 0.6); }
    .common-reply-box .list .expression {
      color: #999;
      font-size: 22px;
      width: 32px;
      height: 32px;
      float: left; }
    .common-reply-box .list .notice-info {
      float: left;
      display: block;
      height: 32px;
      line-height: 32px;
      font-size: 12px;
      color: #999; }
      .common-reply-box .list .notice-info i {
        color: #12c48c;
        font-style: normal; }
    .common-reply-box .list .cancle {
      font-size: 15px;
      color: #666;
      display: block;
      float: left;
      height: 32px;
      line-height: 32px; }
    .common-reply-box .list .reply-btn {
      display: block;
      float: right;
      width: 98px;
      height: 32px;
      background-color: 1px solid #12c48b;
      line-height: 32px;
      text-align: center;
      border-radius: 4px;
      font-size: 15px;
      color: #fff;
      background-color: #12c48b;
      cursor: pointer;
      transition: background-color .25s; }
      .common-reply-box .list .reply-btn:hover {
        background-color: #0cb17c; }
    .common-reply-box .list.reply-tool {
      line-height: 30px;
      padding: 10px; }
      .common-reply-box .list.reply-tool:after {
        content: '.';
        display: block;
        visibility: hidden;
        clear: both;
        width: 100%;
        height: 0;
        font-size: 0;
        zoom: 1; }

/*
	公用加载动画 
*/
.load-animate {
  font-size: 0;
  line-height: 20px;
  height: 20px;
  width: 100%; }
  .load-animate p {
    text-align: center;
    width: 100%;
    display: block;
    color: #999;
    font-size: 12px;
    margin-left: 10px; }
    .load-animate p img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      vertical-align: middle; }

.common-systemsg-list {
  height: auto;
  width: 100%; }
  .common-systemsg-list .systemsg-list-item {
    height: 40px;
    border-bottom: 1px solid #eee;
    position: relative;
    width: 100%;
    padding: 20px 0; }
    .common-systemsg-list .systemsg-list-item:hover {
      border-bottom-color: #ccc; }
    .common-systemsg-list .systemsg-list-item:after {
      content: '.';
      display: block;
      visibility: hidden;
      clear: both;
      width: 100%;
      height: 0;
      font-size: 0;
      zoom: 1; }
    .common-systemsg-list .systemsg-list-item .photo {
      width: 40px;
      float: left;
      height: 40px;
      border-radius: 100%;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 20px; }
      .common-systemsg-list .systemsg-list-item .photo img {
        display: block;
        width: 40px;
        height: 40px; }
    .common-systemsg-list .systemsg-list-item .info {
      width: 100%;
      height: 40px;
      padding-left: 55px;
      box-sizing: border-box; }
      .common-systemsg-list .systemsg-list-item .info .text {
        font-size: 15px;
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #333;
        line-height: 22px; }
        .common-systemsg-list .systemsg-list-item .info .text .blue {
          color: #43a5ec; }
        .common-systemsg-list .systemsg-list-item .info .text a {
          color: #12c48b; }
      .common-systemsg-list .systemsg-list-item .info .time {
        line-height: 20px;
        color: #999;
        font-size: 12px; }

.common-sale {
  width: 76px;
  height: 24px;
  display: inline-block;
  background: transparent url(../img/site/border-blue.png) no-repeat center;
  text-align: center;
  line-height: 24px;
  vertical-align: baseline;
  color: #0397dd;
  font-size: 14px;
  margin: 0 5px;
  cursor: default; }

.common-exchange {
  width: 76px;
  height: 24px;
  display: inline-block;
  background: transparent url(../img/site/border-orange.png) no-repeat center;
  text-align: center;
  line-height: 24px;
  vertical-align: baseline;
  color: #ff9933;
  font-size: 14px;
  margin: 0 5px;
  cursor: default; }
