.common-tab-content .tab-title {
  height: 51px;
  border-bottom: 1px solid #ccc; }
  .common-tab-content .tab-title a {
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    font-weight: bold;
    position: relative;
    padding: 13px 17px; }
    .common-tab-content .tab-title a:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      position: absolute;
      bottom: -1px;
      left: 0;
      transition: width 0.35s;
      -moz-transition: width 0.35s;
      -webkit-transition: width 0.35s;
      -o-transition: width 0.35s;
      background-color: #444; }
    .common-tab-content .tab-title a.active:after, .common-tab-content .tab-title a:hover:after {
      width: 100%; }
    .common-tab-content .tab-title a i {
      margin-right: 5px; }
    .common-tab-content .tab-title a span {
      margin-left: 5px;
      font-style: normal; }

.common-tab-content .tab-content {
  height: auto;
  width: 100%; }
  .common-tab-content .tab-content .content-box {
    display: none; }
