@charset "UTF-8";
body {
  position: relative; }

.header {
  height: 58px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd; }
  .header .header-main {
    min-width: 960px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative; }
    .header .header-main:after {
      content: '.';
      display: block;
      visibility: hidden;
      clear: both;
      width: 100%;
      height: 0;
      font-size: 0;
      zoom: 1; }
    .header .header-main .logo {
      width: auto;
      float: left; }
      .header .header-main .logo .logo-title {
        display: block;
        background-color: #fff;
        width: auto;
        height: 58px;
        padding: 0 30px;
        color: #12c48b;
        font-weight: bold;
        font-size: 28px;
        line-height: 58px;
        text-align: center; }
    .header .header-main .header-center {
      width: 960px;
      position: absolute;
      left: 50%;
      margin-left: -480px; }
      .header .header-main .header-center .menu-list {
        width: auto;
        height: 58px;
        float: left; }
        .header .header-main .header-center .menu-list a {
          display: block;
          padding: 0 15px;
          transition: background-color .25s;
          font-size: 16px;
          line-height: 58px;
          color: #333;
          float: left;
          cursor: pointer; }
          .header .header-main .header-center .menu-list a.home {
            color: #12c48b; }
            .header .header-main .header-center .menu-list a.home:hover {
              background-color: #fff; }
          .header .header-main .header-center .menu-list a:first-child {
            padding-left: 0; }
          .header .header-main .header-center .menu-list a:hover {
            background-color: #f9f9f9; }
      .header .header-main .header-center .search-main {
        width: auto;
        float: left;
        margin-left: 58px;
        height: 38px;
        margin: 10px 0 10px 58px;
        position: relative; }
        .header .header-main .header-center .search-main input {
          border: 0;
          outline: 0;
          line-height: 28px;
          height: 28px;
          display: block;
          padding: 5px 13px;
          width: 148px;
          background-color: #eee;
          font-size: 14px;
          color: #333;
          border-radius: 19px;
          transition: width .35s ease-in; }
          .header .header-main .header-center .search-main input:focus {
            width: 228px; }
        .header .header-main .header-center .search-main .search-btn {
          width: 30px;
          height: 30px;
          display: block;
          position: absolute;
          right: 4px;
          top: 4px;
          line-height: 30px;
          text-align: center;
          color: #666;
          border-radius: 100%;
          background-color: #dedede; }
    .header .header-main .user {
      padding: 0 30px;
      height: 58px;
      float: right; }
      .header .header-main .user.sign .sign-btn {
        display: none; }
      .header .header-main .user .user-photo {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 100%;
        margin: 9px auto;
        position: relative; }
        .header .header-main .user .user-photo img {
          display: block;
          width: 40px;
          height: 40px; }

.left-main {
  position: fixed;
  z-index: 9;
  top: 58px;
  left: 0;
  width: 76px;
  height: 100%;
  background-color: #12c48b; }
  .left-main .left-menu {
    width: 100%;
    height: auto;
    margin-top: 76px; }
    .left-main .left-menu .item {
      width: 73px;
      height: 75px;
      text-align: center;
      line-height: 75px;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      transition: background-color .25s;
      border-left: 3px solid #12c48b;
      border-bottom: 1px solid #17d095; }
      .left-main .left-menu .item:hover {
        background-color: #0cb17c; }
      .left-main .left-menu .item:first-child {
        border-top: 1px solid #17d095; }
      .left-main .left-menu .item.red {
        border-left-color: red; }
      .left-main .left-menu .item.orange {
        border-left-color: orange; }
      .left-main .left-menu .item.yellow {
        border-left-color: yellow; }
      .left-main .left-menu .item.green {
        border-left-color: green; }
      .left-main .left-menu .item.violet {
        border-left-color: violet; }
      .left-main .left-menu .item.blue {
        border-left-color: blue; }

.main {
  height: 2000px;
  width: 960px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding-top: 59px; }

@media screen and (max-width: 1280px) {
  /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
  .header .header-main .header-center {
    width: 756px;
    margin-left: -378px; }
    .header .header-main .header-center .menu-list {
      margin-left: 65px; }
  .main {
    width: 756px; } }
