.usercenter {
  width: 100%;
  height: auto; }
  .usercenter .left-block {
    width: 65%;
    float: left; }
  .usercenter .right-block {
    width: 30%;
    float: right; }
  .usercenter.mt30 {
    margin-top: 30px; }
  .usercenter.mt40 {
    margin-top: 40px; }
  .usercenter:after {
    content: '.';
    display: block;
    visibility: hidden;
    clear: both;
    width: 100%;
    height: 0;
    font-size: 0;
    zoom: 1; }
  .usercenter .user-info {
    position: relative;
    padding-bottom: 30px; }
    .usercenter .user-info:after {
      content: '.';
      display: block;
      visibility: hidden;
      clear: both;
      width: 100%;
      height: 0;
      font-size: 0;
      zoom: 1; }
    .usercenter .user-info .photo {
      width: 80px;
      height: 80px;
      float: left;
      overflow: hidden;
      border-radius: 100%; }
      .usercenter .user-info .photo img {
        width: 80px;
        height: 80px;
        display: block; }
    .usercenter .user-info .info-text {
      float: left;
      margin-left: 20px;
      width: auto;
      max-width: 260px; }
      .usercenter .user-info .info-text .name {
        font-size: 21px;
        color: #333;
        line-height: 40px;
        height: 40px; }
      .usercenter .user-info .info-text .my-info {
        height: 40px; }
        .usercenter .user-info .info-text .my-info:after {
          content: '.';
          display: block;
          visibility: hidden;
          clear: both;
          width: 100%;
          height: 0;
          font-size: 0;
          zoom: 1; }
        .usercenter .user-info .info-text .my-info a {
          display: block;
          float: left;
          height: 40px;
          line-height: 20px;
          font-size: 13px;
          color: #666;
          text-align: center;
          padding: 0 12px;
          border-right: 1px solid #e1e1e1;
          max-width: 74px;
          overflow: hidden; }
          .usercenter .user-info .info-text .my-info a:hover {
            color: #333; }
            .usercenter .user-info .info-text .my-info a:hover span {
              color: #333; }
          .usercenter .user-info .info-text .my-info a:first-child {
            padding-left: 0; }
          .usercenter .user-info .info-text .my-info a:last-child {
            border-right: 0; }
          .usercenter .user-info .info-text .my-info a span {
            color: #777;
            display: block;
            width: 100%;
            height: 20px;
            line-height: 20px; }
    .usercenter .user-info .action-tool {
      width: 246px;
      float: right;
      padding: 30px 0 16px 0; }
      .usercenter .user-info .action-tool .action-btn {
        display: block;
        border-radius: 17px;
        line-height: 32px;
        text-align: center;
        float: left;
        font-size: 15px;
        height: 32px;
        width: 116px;
        border: 1px solid #12c48b;
        transition: background-color 0.25s;
        -moz-transition: background-color 0.25s;
        -webkit-transition: background-color 0.25s;
        -o-transition: background-color 0.25s; }
        .usercenter .user-info .action-tool .action-btn.send-meg {
          margin-right: 10px;
          color: #12c48b;
          transition: background-color 0.25s;
          -moz-transition: background-color 0.25s;
          -webkit-transition: background-color 0.25s;
          -o-transition: background-color 0.25s; }
          .usercenter .user-info .action-tool .action-btn.send-meg:hover {
            background-color: #c5f7e7; }
        .usercenter .user-info .action-tool .action-btn.add-following {
          color: #fff;
          background-color: #12c48b; }
          .usercenter .user-info .action-tool .action-btn.add-following:hover {
            background-color: #0cb17c; }
  .usercenter .user-profile {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee; }
    .usercenter .user-profile .common-left-block-title {
      font-size: 14px;
      color: #999;
      font-weight: normal;
      padding-bottom: 10px; }
      .usercenter .user-profile .common-left-block-title .edit-tool {
        float: right;
        cursor: pointer;
        display: none; }
        .usercenter .user-profile .common-left-block-title .edit-tool:hover {
          color: #333; }
      .usercenter .user-profile .common-left-block-title:hover .edit-tool {
        display: block; }
    .usercenter .user-profile .edit-profile-form textarea {
      display: block;
      padding-bottom: 10px;
      width: 100%;
      height: 130px;
      line-height: 22px;
      font-size: 14px;
      color: #666;
      box-sizing: border-box;
      padding: 5px 10px;
      border: 1px solid #c8c8c8;
      border-radius: 5px;
      background-color: #eee; }
    .usercenter .user-profile .edit-profile-form .action {
      padding: 15px 0;
      height: 32px; }
      .usercenter .user-profile .edit-profile-form .action .save-btn {
        padding: 5px 17px;
        border: 1px solid #32dca6;
        border-radius: 20px;
        line-height: 20px;
        font-size: 15px;
        color: #32dca6;
        transition: background-color 0.25s;
        -moz-transition: background-color 0.25s;
        -webkit-transition: background-color 0.25s;
        -o-transition: background-color 0.25s; }
        .usercenter .user-profile .edit-profile-form .action .save-btn:hover {
          background-color: #c5f7e7; }
      .usercenter .user-profile .edit-profile-form .action .cancle-btn {
        font-size: 15px;
        color: #999;
        line-height: 32px;
        margin-left: 20px; }
        .usercenter .user-profile .edit-profile-form .action .cancle-btn:hover {
          color: #32dca6; }
    .usercenter .user-profile .profile-main {
      padding-bottom: 10px;
      line-height: 22px;
      font-size: 14px;
      color: #666; }
      .usercenter .user-profile .profile-main a {
        color: #12c48b;
        margin: 0 5px; }
        .usercenter .user-profile .profile-main a:hover {
          text-decoration: underline; }
  .usercenter .user-concat-list {
    padding: 15px 0;
    border-bottom: 1px solid #eee; }
    .usercenter .user-concat-list .concat-list-item {
      margin-right: 10px;
      font-size: 20px; }
      .usercenter .user-concat-list .concat-list-item.home {
        color: #43a5ec; }
      .usercenter .user-concat-list .concat-list-item.twitter {
        color: #12c48b; }
  .usercenter .user-follow-classify {
    padding: 15px 0;
    border-bottom: 1px solid #eee; }
    .usercenter .user-follow-classify .classify-list-item {
      font-size: 14px;
      color: #666;
      display: block;
      padding-bottom: 10px; }
      .usercenter .user-follow-classify .classify-list-item i {
        margin-right: 5px; }
      .usercenter .user-follow-classify .classify-list-item:hover {
        transition: color 0.25s;
        -moz-transition: color 0.25s;
        -webkit-transition: color 0.25s;
        -o-transition: color 0.25s;
        color: #222; }
