@import 'base';

body {font-family: 'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif; min-width: 960px; position: relative;-moz-user-select:none;/*火狐*/
-webkit-user-select:none;/*webkit浏览器*/
-ms-user-select:none;/*IE10*/
-khtml-user-select:none;/*早期浏览器*/
user-select:none;}
.hidden{display: none !important;}
.block{display: block !important;}

/*
	顶部菜单
*/
.header{
	height:58px;
	width:100%;
	position: fixed;
	z-index:10;
	top:0;
	left:0;
	background-color:#fff;
	border-bottom:1px solid #ddd;
	.header-main{
		min-width: 960px;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
		position:relative;
		.logo{
			width: auto;
			position:absolute;
			left: 0;
			top: 0;
			.logo-title{
				display: block;
				background-color:#fff;
				width: auto;
				height: 58px;
				padding:0 20px;
				color: $mainColor;
				font-weight: bold;
				font-size: 28px;
				line-height: 58px;
				text-align: center;
			}
		}
		.header-center{
			width: 960px;
			height: 58px;
			margin: 0 auto;
			&:after{
				@include floatFun();
			}
			.header-menu-list{
				width: auto;
				height: 58px;
				float:left;
				transition: margin-left  .35s;
				&:after{
					@include floatFun();
				}
				.header-menu-list-item{
					display: block;
					height: 58px;
					padding:0 15px;
					text-align: center;
					transition: background-color .25s;					
					line-height: 58px;					
					float:left;
					cursor: pointer;
					position:relative;
					&:hover{
						background-color:#eee;
						.sec-header-menu{
							display: block;
						}
					}
					&.active{
						a{
							span,i{
								color: $mainColor;
							}				
						}
						&:hover{
							background-color:#fff;
						}
					}
					a{
						display: block;
						width: 100%;
						height:100%;
						i{
							margin-right:5px;
							font-size: 20px;
							color: #333;
						}
						span{
							font-size: 16px;
							color: #333;
						}
					}
				}
			}
			.search-main{
				width: auto;
				float:left;
				margin-left: 58px;
				height: 38px;
				margin:10px 0 10px 58px;
				position:relative;
				input{
					border:0;
					outline: 0;
					line-height: 28px;
					height: 28px;
					display: block;
					padding:5px 13px;
					width: 148px;
					background-color:#eee;
					font-size: 14px;
					color: #333;
					border-radius:19px;
					transition: width .35s ease-in;
					&:focus{
						width: 228px;
					}
				}
				.search-btn{
					width: 30px;
					height: 30px;
					display: block;
					position:absolute;
					right: 4px;
					top: 4px;
					line-height: 30px;
					text-align: center;
					color: #666;
					border-radius:100%;
					background-color:#dedede;
				}
			}
		}
		.sec-header-menu{
			display: none;
			width: 160px;
			height: auto;
			padding-bottom:10px;
			position:absolute;
			background-color:#fff;
			top: 58px;
			left: 0;
			border-radius:3px;
			box-shadow:2px 2px 7px rgba(0,0,0,.3),-2px -2px 7px rgba(0,0,0,.3);
			li{
				display: block;
				width: 100%;
				height: 48px;
				line-height: 48px;
				box-sizing: border-box;
				padding-left: 20px;
				font-size: 15px;
				color: #333;
				transition: background-color .25s;
				text-align: left;
				&:hover{
					background-color:#eee;
				}
				a{
					color: #555;
					display: block;
    				height: 100%;
					i{
						margin-right: 10px;
						color: $mainColor !important;
					}
				}
			}
		}
		.user{
			padding:0 30px;
			height: 58px;
			position:absolute;
			right: 0;
			top: 0;
			.user-main{
				position:relative;
				width: 40px;
				height: 58px;
				float: left;
				.user-photo{
					width: 40px;
					height: 40px;
					overflow: hidden;
					float: left;
					border-radius: 100%;
					margin:9px 0;
					position:relative;
					img{
						display: block;
						width: 40px;
						height: 40px;
					}
				}
				&:hover .sec-header-menu{
					display: block;
				}
			}
			.sign{
				float: left;
				background-color:#fff;
				margin-left: 0;
				.signin{
					font-size: 16px;
					color: #888;
				}
			}
			.package{
				float: right;
			}
			 .common-top-btn{
				display: inline-block;			
				width: 98px;
				height: 36px;
				background-color:1px solid $mainColor;
				line-height: 36px;
				text-align: center;
				margin: 11px 0 0 40px;
				border-radius: 4px;
				font-size: 15px;
				color: #fff;
				background-color: $mainColor;
				transition: background-color .25s;
				i{
					margin-right: 5px;
				}
				&:hover{
					background-color:$darkColor;
				}
			}
		}
	}
}

/*
	内容部分
*/
.main{
	width:960px;
	margin:0 auto;
	padding-top:59px;
}




.common-reply-box{
	margin-top: 15px;
	display:none;
	.list{
		height: auto;
		textarea{
			width: 100%;
			padding:5px 15px;
			border:1px solid #ccc;
			border-radius:7px;
			box-sizing:border-box;
			display: block;
			height: 90px;
			font-size: 15px;
			color: #333;
			line-height: 24px;
			background-color:#f9f9f9;
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			&:focus{
				border-color: rgba(18,196,139,.8);
				z-index: 9;
				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(18,196,139,.6);
				box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(18,196,139,.6);
			}
		}
		.expression{
			color: #999;
			font-size: 22px;
			width: 32px;
			height: 32px;
			float:left;
		}
		.notice-info{
			float:left;
			display: block;
			height: 32px;
			line-height: 32px;
			font-size: 12px;
			color: #999;
			i{
				color: #12c48c;
				font-style: normal;
			}
		}
		.cancle{
			font-size: 15px;
			color: #666;
			display: block;
			float:left;
			height: 32px;
			line-height: 32px;
		}
		.reply-btn{
			display:block;
			float:right;
			width: 98px;
			height: 32px;
			background-color: 1px solid $mainColor;
			line-height: 32px;
			text-align: center;
			border-radius: 4px;
			font-size: 15px;
			color: #fff;
			background-color: $mainColor;
			cursor: pointer;
			transition: background-color .25s;
			&:hover{
				background-color:$darkColor;
			}
		}
		&.reply-tool{
			line-height: 30px;
			padding:10px;
			&:after{
				@include floatFun();
			}
		}
	}
}

/*
	公用加载动画 
*/
.load-animate {
	font-size: 0;
	line-height: 20px;
	height: 20px;
	width: 100%;
	p {
		text-align: center;
		width: 100%;
		display: block;
		color: #999;
		font-size: 12px;
		margin-left: 10px;
		img {
			width: 20px;
			height: 20px;
			margin-right:10px;
			vertical-align: middle;
		} 
	}
}

.common-systemsg-list{
	height:auto;
	width: 100%;
	.systemsg-list-item{
		height: 40px;
		border-bottom:1px solid #eee;
		position:relative;
		width: 100%;
		padding: 20px 0;
		&:hover{
			border-bottom-color:#ccc;
		}
		&:after{
			@include floatFun();
		}
		.photo{
			width: 40px;
			float:left;
			height: 40px;
			border-radius:100%;
			overflow: hidden;
			position:absolute;
			left: 0;
			top: 20px;
			img{
				display: block;
				width: 40px;
				height: 40px;
			}
		}
		.info{
			width: 100%;
			height: 40px;
			padding-left:55px;
			box-sizing:border-box;
			.text{
				font-size: 15px;
				display: block;
				width: 100%;
				@include nowrap();
				color: #333;
				line-height: 22px;
				.blue{
					color: $mainColorBlue;
				}
				a{
					color: $mainColor;
				}
			}
			.time{
				line-height: 20px;
				color: #999;
				font-size: 12px;
			}
		}
	}
}

.common-sale{
	width:76px;
	height:24px;
	display:inline-block;
	background:transparent url(../img/site/border-blue.png) no-repeat center;
	text-align:center;
	line-height:24px;
	vertical-align:baseline;
	color:#0397dd;
	font-size:14px;
	margin:0 5px;
	cursor:default;
}
.common-exchange{
	width:76px;
	height:24px;
	display:inline-block;
	background:transparent url(../img/site/border-orange.png) no-repeat center;
	text-align:center;
	line-height:24px;
	vertical-align:baseline;
	color:#ff9933;
	font-size:14px;
	margin:0 5px;
	cursor:default;
}