@media screen and (max-width: 1280px) {
	.header .header-main .header-center{
		width: 756px;
	}	
	.main{
		width: 756px;
	}
	.other-classical .other-classical-item{
		height: 34px;
		line-height: 34px;
	}
	.list-classical{
		height: 50.5px;
		li{
			width: 48.5px;
			height: 48.5px;
			a{
				line-height: 48.5px;
			}
		}
	} 
	.main-book-list .book-item{
		width: 365px;
		.book-main{
			.book-img{
				width: 120px;
			}
			.book-profile{
				width: 223px;
				p{
					line-height: 24px;
					&.owner-profile{
						height: 46px;
					}
				}
			}
		}
	}
	.notifications{
		.left-fixed-menu{
			width: 200px;
			.notifications-list{
				width: 200px;
			}
		}
		.right-box-main{
			width: 506px;
		}
	}
	.usercenter .user-info .action-tool{
		width: 118px;
		padding: 0;
		height: 80px;
		.action-btn{
			float: none;
			&.add-following{
				margin-top: 11px;
			}
		}
	}
}
@media screen and (max-width: 1080px) {
	.header .header-main .header-center{
		.header-menu-list{
			margin-left: 70px;
			a{
				i{
					display: inline-block;
				}
				span{
					display: none;
				}
			}
		}
	}

}