@import 'base';

.usercenter{
	.left-block{
		width: 65%;
		float:left;
	}
	.right-block{
		width: 30%;
		float:right;
	}
	width: 100%;
	height: auto;
	&.mt30{
		margin-top: 30px;
	}
	&.mt40{
		margin-top: 40px;
	}
	&:after{
		@include floatFun();
	}
	.user-info{
		position: relative;
		padding-bottom:30px;
		&:after{
			@include floatFun();
		}
		.photo{
			width: 80px;
			height: 80px;
			float:left;
			overflow: hidden;
			border-radius: 100%;
			img{
				width: 80px;
				height: 80px;
				display: block;
			}
		}
		.info-text{
			float:left;
			margin-left: 20px;
			width: auto;
			max-width: 260px;
			.name{
				font-size: 21px;
				color: #333;
				line-height: 40px;
				height: 40px;
			}
			.my-info{
				height: 40px;
				&:after{
					@include floatFun();
				}
				a{
					display: block;
					float:left;
					height: 40px;
					line-height: 20px;
					font-size: 13px;
					color: #666;
					text-align: center;
					padding:0 12px;
					border-right:1px solid #e1e1e1;
					max-width: 74px;
					overflow: hidden;
					&:hover{
						color: #333;
						span{
							color: #333;
						}
					}
					&:first-child{
						padding-left:0;
					}
					&:last-child{
						border-right:0;
					}
					span{
						color: #777;
						display: block;
						width: 100%;
						height: 20px;
						line-height: 20px;
					}
				}
			}
		}
		.action-tool{
			width: 246px;
			float:right;
			padding: 30px 0 16px 0;
			.action-btn{
				display: block;
				border-radius:17px;
				line-height: 32px;
				text-align: center;
				float:left;
				font-size: 15px;
				height: 32px;
				width: 116px;
				border:1px solid $mainColor;
				@include transite(background-color,.25s);
				&.send-meg{
					margin-right:10px;				
					color: $mainColor;
					@include transite(background-color,.25s);
					&:hover{
						background-color:$opicatyColor;
					}
				}
				&.add-following{
					color: #fff;
					background-color:$mainColor;
					&:hover{
						background-color:$darkColor;
					}
				}
			}
		}
	}
	.user-profile{
		padding-bottom:15px;
		border-bottom:1px solid #eee;
		.common-left-block-title{
			font-size: 14px;
			color: #999;
			font-weight: normal;
			padding-bottom:10px;
			.edit-tool{
				float:right;
				cursor: pointer;
				display: none;
				&:hover{
					color: #333;
				}
			}
			&:hover .edit-tool{
				display: block;
			}
		}
		.edit-profile-form{
			textarea{
				display: block;
				padding-bottom: 10px;
				width: 100%;
				height: 130px;
				line-height: 22px;
				font-size: 14px;
				color: #666;
				box-sizing:border-box;
				padding: 5px 10px;
				border:1px solid #c8c8c8;
				border-radius:5px;
				background-color:#eee;
			}
			.action{
				padding:15px 0;
				height: 32px;
				.save-btn{
					padding:5px 17px;
					border:1px solid $lightColor;
					border-radius:20px;
					line-height: 20px;
					font-size: 15px;
					color: $lightColor;
					@include transite(background-color,.25s);
					&:hover{
						background-color:#c5f7e7;
					}
				}
				.cancle-btn{
					font-size: 15px;
					color: #999;
					line-height: 32px;
					margin-left: 20px;
					&:hover{
						color: $lightColor;
					}
				}
			}
		}
		.profile-main{
			padding-bottom: 10px;
			line-height: 22px;
			font-size: 14px;
			color: #666;
			a{
				color: $mainColor;
				margin:0 5px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.user-concat-list{
		padding:15px 0;
		border-bottom:1px solid #eee;
		.concat-list-item{
			margin-right:10px;
			font-size: 20px;
			&.home{
				color: $mainColorBlue;
			}
			&.twitter{color:$mainColor}
		}
	}
	.user-follow-classify{
		padding:15px 0;
		border-bottom:1px solid #eee;
		.classify-list-item{
			font-size: 14px;
			color: #666;
			display: block;
			padding-bottom:10px;
			i{
				margin-right: 5px;
			}
			&:hover{
				@include transite(color,.25s);
				color: #222;
			}
		}
	}
	.list-main{
		.list-item{
			border-bottom:1px solid #eee;
			padding:20px 0;
			.author{
				padding-bottom:10px;
				&:after{
					@include floatFun();
				}
				.author-photo{
					width: 32px;
					height: 32px;
					display: block;
					margin-right:10px;
					float:left;
					border-radius:100%;
					overflow:hidden;
					img{
						display: block;
						width: 32px;
						height: 32px;
					}
				}
				.author-info{
					line-height: 32px;
					width: auto;
					height: 32px;
					float:left;
					p{
						font-size: 12px;
						color: #666;
						.black{
							color: #333;
							font-size: 14px;
							margin-right: 5px;
						}
					}
				}
			}
			.comments{
				padding-bottom:10px;
				.text{
					line-height: 24px;
					color: #333;
					font-size: 15px;
				}
			}
			.personal{
				position: relative;
				&:after{
					@include floatFun();
				}
				.personal-photo{
					width: 50px;
					height: 50px;
					border-radius:100%;
					overflow: hidden;
					float:left;
					img{
						width: 50px;
						height: 50px;
						display: block;
					}
				}
				.personal-info{
					float:left;
					margin-left:20px;
					width: auto;
					&:after{
						@include floatFun();
					}
					.name a{
						font-size: 15px;
						color: #333;
						font-weight:700;
					}
					.info-text{
						display: block;
						font-size: 12px;
						line-height: 16px;
						color: #666;
						span{
							font-size: 12px;
							color: #666;
							padding:0 12px;
							border-right:1px solid #e1e1e1;
							&:first-child{
								padding-left:0;
							}
							&:last-child{
								border-right:0;
							}
						}
					}
				}
				.personal-action{
					float:right;
					width: 100px;
					height: 50px;
					font-size: 0;
					.action-btn{
						display: block;
						margin-top: 5px;
						height: 38px;
						border:1px solid #ddd;
						color: #666;
						font-size:16px;
						border-radius:20px;
						width: 98px;
						text-align: center;
						line-height: 38px;
						cursor: pointer;
						@include transite(background-color,.25s);
						&:hover{
							background-color:#f9f9f9;
							color: #444;
						}
						&.follow-btn{
							border-color:$mainColor;
							background-color:$mainColor;
							color: #fff;
							&:hover{
								border-color:$darkColor;
								background-color:$darkColor;
								color: #fff;
							}
						}
					}
				}
			}
			.book{
				padding-bottom:10px;
				&.quote{
					border-left:4px solid #999;
					padding:15px 0 15px 10px;
					background-color:#f9f9f9;
					.action{
						padding:10px 0 0 10px;
					}
				}
				&:after{
					@include floatFun();
				}
				.book-img{
					height: 80px;
					width: 80px;
					float:left;
					img{
						display: block;
						height: 80px;
						width: auto;
					}
				}
				.book-info{
					width: 100%;
					box-sizing:border-box;
					padding-left:100px;
					h4{
						font-size: 15px;
						color: #666;
						a{
							color: #333;
							&:hover{
								text-decoration: underline;
							}
						}
					}
					.book-author{
						font-size: 14px;
						color: #333;
						padding: 5px 0;
					}
					.profile{
						font-size: 14px;
						color: #666;
						line-height: 22px;
					}
				}
			}
			.action{
				padding: 0;
				font-size: 12px;
				span,
				a{
					color: #999;
					font-size: 12px;
					margin-right: 10px;
					&.name{
						color: $mainColorBlue;
						margin-right: 10px;
						&:hover{
							text-decoration: underline;
							color: $mainColorBlue;
						}
					}
					@include transite(color,.25s);
					i{
						margin-right: 2px;
					}
					&:hover{
						color: #333;
					}
				}
				span:hover{
					color: #999;
				}
			}
			.personal-author{
				box-sizing:border-box;
				border-radius:5px;
				border:1px solid #ccc;
				background-color:#f9f9f9;
				padding:10px 15px;
				.personal-author-info{
					padding-bottom:10px;
					&.alone{
						padding-bottom:0;
					}
					&:after{
						@include floatFun();
					}
					.photo{
						width: 48px;
						height: 48px;
						border-radius:100%;
						float: left;
						overflow: hidden;
						img{
							display: block;
							width: 48px;
							height: 48px;
						}
					}
					.info-text{
						width:auto;
						float:left;
						margin-left: 20px;
						.name{
							font-size: 16px;
							line-height: 24px;
							color: #333;
						}
						.info{
							font-size: 13px;
							color: #999;
							line-height: 24px;
						}
					}
					.action{
						float:right;
						width: 100px;
						height: 50px;
						font-size: 0;
						.action-btn{
							display: block;
							margin-top: 5px;
							height: 38px;
							border:1px solid #ddd;
							color: #666;
							font-size:16px;
							border-radius:20px;
							width: 98px;
							text-align: center;
							line-height: 38px;
							cursor: pointer;
							@include transite(background-color,.25s);
							&:hover{
								background-color:#f9f9f9;
								color: #444;
							}
							&.follow-btn{
								border-color:$mainColor;
								background-color:$mainColor;
								color: #fff;
								&:hover{
									border-color:$darkColor;
									background-color:$darkColor;
									color: #fff;
								}
							}
						}
					}
				}
				.personal-author-profile{
					padding-top:10px;
					border-top:1px solid #ccc;
					.text{
						font-size: 13px;
						color: #999;
						line-height: 22px;
					}
				}
			}
			.subject{
				&.quote{
					box-sizing:border-box;
					border-radius:5px;
					border:1px solid #ccc;
					background-color:#f9f9f9;
					padding:10px 15px;
				}
				&:after{
					@include floatFun();
				}
				.subject-photo{
					width: 48px;
					height: 48px;
					border-radius:7px;
					float: left;
					overflow: hidden;
					border:1px solid #ddd;
					img{
						display: block;
						width: 48px;
						height: 48px;
					}
				}
				.subject-info{
					width:auto;
					float:left;
					margin-left: 20px;
					.name{
						font-size: 16px;
						line-height: 24px;
						color: #333;
					}
					.info{
						font-size: 13px;
						color: #999;
						line-height: 24px;
						a{
							color: $mainColorBlue;
						}
					}
				}
				.action{
					float:right;
					width: 100px;
					height: 50px;
					font-size: 0;
					.action-btn{
						display: block;
						margin-top: 5px;
						height: 38px;
						border:1px solid #ddd;
						color: #666;
						font-size:16px;
						border-radius:20px;
						width: 98px;
						text-align: center;
						line-height: 38px;
						cursor: pointer;
						@include transite(background-color,.25s);
						&:hover{
							background-color:#f9f9f9;
							color: #444;
						}
						&.follow-btn{
							border-color:$mainColor;
							background-color:$mainColor;
							color: #fff;
							&:hover{
								border-color:$darkColor;
								background-color:$darkColor;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}

}