<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EIBOOK</title>
	<link rel="shortcut icon" href="/img/site/favicon.ico" /> 
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/common.min.css">
	<link rel="stylesheet" href="/css/common-user.min.css">
	<link rel="stylesheet" href="/css/usercenter.min.css">
	<link rel="stylesheet" href="/css/left-personal-menu.min.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/media-query.min.css">
</head>
<body>
	<%- include('./header.ejs') %>
	<div class="main">
		<div class="usercenter mt30">
			<%- include('./user-left.ejs') %>
			<%- include('./user-right.ejs') %>
		</div>
	</div>
<script src="/js/jquery.min.js"></script>
<script>
	!(function(){
		$("div[tab-box]").find("[box-name]").on('click',function(){
			var nextBox = $("[data-box='"+$(this).attr("box-name")+"']");
			$(this).addClass('active').siblings().removeClass('active');
			nextBox.addClass('block').siblings().removeClass('block');
		})
	})()
	$(".action-btn").hover(function(){
		if($(this).attr('data-follow')=="true"){
			$(this).text('×取消关注');
		}		
	},function(){
		if($(this).attr('data-follow')=="true"){
			$(this).text('√已关注');
		}
	})
	$(".action-btn").on('click',function(){
		if($(this).attr('data-follow')=="false" && $(this).hasClass('follow-btn')){//添加关注
			$(this).removeClass('follow-btn').text('√已关注').attr('data-follow','true');
		}else{//取消关注
			$(this).addClass('follow-btn').text('+关注').attr('data-follow','false');
		}
	})
	$("#edit-profile,.cancle-btn").on('click',function(){
		if($(".edit-profile-form").hasClass('hidden')){
			$(".edit-profile-form").removeClass('hidden');
			$(".profile-main").addClass('hidden');
		}else{
			$(".edit-profile-form").addClass('hidden');
			$(".profile-main").removeClass('hidden');
		}

	})
</script>
</body>
</html>