<div class="right-block">
	<div class="user-profile">
		<h4 class="common-left-block-title">个人介绍<span class="edit-tool" id="edit-profile"><i class="icon-pencil"></i>编辑</span></h4>
		<div class="edit-profile-form hidden">
			<textarea name="" id="" cols="30" rows="10">本人性格开朗、稳重、有活力，待人热情、真诚。工作认真负责，积极主动，能吃苦耐劳;喜欢思考，虚心与人交流,以取长补短。有较强的组织能力、实际...</textarea>
			<div class="action"><a href="javascript:;" class="save-btn">保存</a> <a href="javascript:;" class="cancle-btn">取消</a></div>
		</div>
		<div class="profile-main">
			<p class="text">本人性格开朗、稳重、有活力，待人热情、真诚。工作认真负责，积极主动，能吃苦耐劳;喜欢思考，虚心与人交流,以取长补短。有较强的组织能力、实际动手能力和团体协作精神，能迅速的适应<a href="#">各种环境</a>，并融合其中。在实习期间善于把检验结果与病人具体病情结合分析;社会责任感强,踏实肯干,主动争取锻炼机会。</p>
		</div>
	</div>
	<div class="user-concat-list">
		<a href="#" class="concat-list-item home" target="_blank"><i class="icon-home"></i></a>
		<a href="#" class="concat-list-item twitter" target="_blank"><i class="icon-twitter"></i></a>
	</div>
	<div class="user-follow-classify">
		<a href="#" class="classify-list-item"><i class="icon-th-large"></i>他关注的分类</a>
		<a href="#" class="classify-list-item"><i class="icon-heart-empty"></i>他喜欢的书籍</a>
	</div>
</div>